*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container_s21 {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.car_section {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

.brands {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn_car {
  color: #eb905e;
  box-shadow: none;
  border-radius: 15px;
  padding: 16px 60px;
  background: none;
  border: 1px solid #eb905e;
  cursor: pointer;
  transition: all .3s ease-out;
  font-size: 16px;
  font-family: 'Arial', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
}

.btn_car:hover {
  transform: scale(1.08);
}

.btn_car.active_btn {
  background-color: #eb905e;
  color: #fff;
  border: #eb905e;
}

.carWrapper {
  margin-top: 40px;
}

.s21_listItem {
  padding: 16px;
  display: block;
  position: relative;
  border-radius: 12px;
  transition: all .2s ease-in;
  background-color: #fff;
}

.s21_listItem::before {
  border-top: 1px solid #0000001a;
  content: " ";
  display: block;
  height: 1px;
  left: 16px;
  position: absolute;
  right: 16px;
  top: 0;
}

.s21_listItem:hover {
  box-shadow: 0 5px 20px 0 #0000001a;
  transform: translateY(1px);
  z-index: 1;
}

.s21_listItem:hover::before {
  border-top: none;
}

.s21_listItem-main {
  display: flex;
}

.s21_listItem_img {
  position: relative;
  width: 320px;
  height: auto;
}

.s21_listItem_img img {
  width: 320px;
  height: 240px;
  overflow: hidden;
  display: block;
  object-fit: fill;
  border-radius: 12px;
}

.s21_listItem_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
}

.s21_listItem_ct {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: normal;
}

.s21_listItemTitle {
  width: 360px;
  font-size: 24px;
  text-align: start;
}

.s21_listItem_cb {
  margin-top: 20px;
  display: flex;
}

.s21_listItemTech {
  margin-bottom: 24px;
}

.s21_listItemTechSummary1 {
  width: 180px;
}

.s21_listItemTechSummary2 {
  margin-left: 20px;
}

.s21_listItem_price {
  background-color: #36b555;
  padding: 10px;
  border-radius: 6px;
  margin: 0;
}

.s21_listItem_btn {
  display: flex;
  width: 100%;
  justify-content: end;
}

.s21_listItem_btn_buy {
  background-color: #36b555;
  padding: 10px 30px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #fff;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.s21_listItem_btn_buy:hover {
  transform: scale(1.03);
}

.s21_listItem_btn_buy.active {
  background-color: #36b555;
  color: #fff;
  border: #36b555;
}

.modal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #252330;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 24px;
  border-radius: 10px;
  position: relative;
}

.s21_modal_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  width: 560px;
}

.s21_input {
  width: 100%;
}

.s21_input input,
.s21_textarea_info {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
}

.s21_textarea_info {
  resize: none;
}

.s21_submit_btn {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.s21_form_btn_submit {
  width: 100%;
  box-sizing: border-box;
  background-color: #eb905e;
  padding: 22px;
  display: block;
  border: none;
  cursor: pointer;
}

.s21_form_btn_submit:hover {
  background-color: #ffa600;
}

.s21_closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 20px;
  color: #d6dbe2;
  font-size: 28px;
  font-weight: bold;
}

.s21_closebtn:hover,
.s21_closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer
}


/* ________IMG Modal__________ */

#s21_img_myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#s21_img_myImg:hover {
  opacity: 0.7;
}


/* The Modal */

.s21_img_modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}


/* Modal Content (image) */

.s21_img_modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Caption of Modal Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Add Animation */

.s21_img_modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


/* The Close Button */

.s21_img_close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.s21_img_close:hover,
.s21_img_close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .s21_img_modal-content {
    width: 100%;
  }
}


/* ___________IMG Modal end__________ */

.slides {
  width: 609px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.nav label {
  display: none;
  position: absolute;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 29%;
}

.nav label:hover {
  color: #000;
}

.nav .next {
  right: 5px;
}

.nav .prev {
  left: 35px;
}

input:checked+.slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
  display: block;
}


/* _________pagination___________ */

.car-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.car-list {
  list-style: none;
  padding: 0;
}

.car-list li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}


/*__________ pagination____________ */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid#ccc;
  color: #333;
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
}

.pagination button.active {
  background-color: #333;
  color: #fff;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 10px;
}


/* 
.pagination #pageButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination #pageButtons button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
}

.pagination #pageButtons button.active {
  background-color: #333;
  color: #fff;
} */

.pageNumber,
.activePage {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  margin: 5px;
  padding: 5px 10px;
}

.activePage {
  background-color: #eb905e;
  color: #fff;
}


/* _____________responsive_______________ */

@media screen and (max-width: 609px) {
  .slides {
    width: 100%;
  }
}